language: rust
rust:
  - stable
  - nightly
script:
  - cargo build
  - |
    [ $TRAVIS_RUST_VERSION != nightly ] ||
    cargo test --features "unstable"
  - |
    [ $TRAVIS_RUST_VERSION != nightly ] ||
    ( cd rayon-demo && cargo test && cd ../../ )
